RAILWAY_URL=postgresql://user:password@host:port/database
MYSQL_HOST=localhost
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DB=database
SHEETS_TIMEOUT=10
SECRET_KEY=change-me
EXTERNAL_API_BASE_URL=https://control-asistencia.up.railway.app
EXTERNAL_API_KEY=change-me-secure-api-key
EXTERNAL_API_TIMEOUT=20
DOTACION_ENTREGA_URL=https://docs.google.com/spreadsheets/d/e/.../pub?output=csv&gid=0;https://docs.google.com/spreadsheets/d/e/.../pub?output=csv&gid=249846040
DOTACION_RECARGAS_URL=https://docs.google.com/spreadsheets/d/e/.../pub?output=csv&gid=1883083406;https://docs.google.com/spreadsheets/d/e/.../pub?output=csv&gid=680588527
